<hr>
<h1>meetingsmanagement</h1>
<button>
    <a href="meetings\meetings.component.html">Schedule Meeting</a>
</button>
<table style="margin-top: 50px;">
    <tr>
        <th>Client Name</th>
        <th>Meeting Type</th>
        <th>Date</th>
        <th>Time</th>
        <th>Join</th>
        <th>Outcome</th>
    </tr>
    <tr *ngFor="let meet of meetings">
        <td>{{meet.name}}</td>
        <td>{{meet.type}}</td>
        <td>{{meet.date}}</td>
        <td>{{meet.time}}</td>
        <td><a href={{meet.joinurl}}>Click Here</a></td>
        <td>{{meet.mo}}</td>
    </tr>
</table>
