<div style="margin: 5%;">
      <div class="menualign" style="margin-top: 20px; margin: 20px;">
        <img src={{prl}} alt="infra" width="100px" height="70px">
      </div>
    <div style="margin: 300px; font-style: italic; border: 2px solid black; background-color: goldenrod; height: 150px;">
      <p style="text-align: center;">List Of Prominent Clients</p>
      <div>
        <ul style="list-style-type: none;">
          <li class="list">Apile</li>
          <li class="list">Mikrot Technology</li>
          <li class="list">Bloqtich</li>
          <li class="list">grancess</li>
          <li class="list">Holowland</li>
        </ul>
      </div>
      <div>
        <ul style="list-style-type: none;">
          <li class="list">Huntstrain</li>
          <li class="list">brain&Gain</li>
          <li class="list">marshmain</li>
        </ul>
      </div>
    </div>
  </div>