<p>webmenu works!</p>
<link rel="stylesheet" href="webmenu.component.css">
<div style="margin: 5%;">
    <div>
      <h1>Anna Architecture Limited</h1>
      <sub>Constructing today tomorrow</sub>
    </div>
    <div>
      <ul style="list-style-type: none;">
        <li>
            <button>
                <a href="app.component.html">HOME</a>
            </button>
        </li>
        <li>
            <button>
                <a href="">ABOUT</a>
            </button>
        </li>
        <li class="dropdown">
            <button>
                <a href="">CLIENT</a>
            </button>
            <div class="dropdown-content">
              <a href="E:\Simplilearn\Angular Framework\projectmanagement\src\app\client\client.component.html">Create Client</a>
            </div>
        </li>
        <li style="margin-right: 70%;" class="dropdown">
            <button>
                <a href="">MEETING</a>
            </button>
            <div class="dropdown-content">
              <a href="">Schedule Meeting</a>
            </div>
        </li>
        <li style="margin-right: 7%;">
            <button>
                <a href="">SIGN IN</a>
            </button>
        </li>
      </ul>
    </div>
    <div>
      <div style="width: 10%; background-color: aquamarine; margin: 20px" class="menualign">
        <div>
          <button>
            <a href="client/client.component.html">Create Client</a>
          </button>
        </div>
        <div>
          <button>
            <a href="meetings\meetings.component.html">Schedule Meetings</a>
          </button>
        </div>
      </div>
      <div class="menualign" style="margin-top: 20px; margin: 20px;">
        <img src="E:\Simplilearn\public-infrastructure (1).webp" alt="infra" width="100%" height="70%">
      </div>
    </div>
    <div style="margin: 40%; font-style: italic;">
      <div style="background-color: goldenrod;">
        <ul style="list-style-type: none;"><p style="text-align: center;">List Of Prominent Clients</p>
          <li class="list">Apile</li>
          <li class="list">Mikrot Technology</li>
          <li class="list">Bloqtich</li>
          <li class="list">grancess</li>
          <li class="list">Holowland</li>
        </ul>
      </div>
      <div style="margin: 6%; background-color: goldenrod;">
        <ul style="list-style-type: none;">
          <li class="list">Huntstrain</li>
          <li class="list">brain&Gain</li>
          <li class="list">marshmain</li>
        </ul>
      </div>
    </div>
  </div>