<div style="margin: 5%;">
      <!--div class="menualign" style="margin: 20px;">
        <img src={{prl}} alt="infra" width="100px" height="70px">
      </div-->
    <div style="margin: 300px; font-style: italic; border: 2px solid black; background-color: gainsboro; height: 150px;">
      <p style="text-align: center;"><strong>List Of Prominent Clients</strong></p>
      <div>
        <ul style="list-style-type: none;">
          <li class="list" style="color: red;">Apile</li>
          <li class="list" style="color: blueviolet;">Mikrot Technology</li>
          <li class="list" style="color: darkcyan;">Bloqtich</li>
          <li class="list" style="color: chartreuse;">grancess</li>
          <li class="list" style="color: chocolate;">Holowland</li>
        </ul>
      </div>
      <div>
        <ul style="list-style-type: none;">
          <li class="list" style="color: brown;">Huntstrain</li>
          <li class="list" style="color: fuchsia;">brain&Gain</li>
          <li class="list" style="color: darkgoldenrod;">marshmain</li>
        </ul>
      </div>
    </div>
  </div>