table tr td{
    border: 1px solid black;
}
table tr th{
    border: 1px solid black;
}
td a{
    text-decoration: none;
    color: black;
}
button{
    width: 200px;
    height: 50px;
    background-color: olivedrab;
}
button a{
    text-decoration: none;
    color: black;
}